* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}
#main {
    position: relative;
    overflow: hidden;
}
#page {
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: transparent;
}
#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
canvas {
    position: relative;
    z-index: 900;
    max-width: 100vw;
    max-height: 100vh;
}
#loop {
    display: flex;
    position: fixed;
    top: 30%;
    height: 100%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: Gilroy;
    z-index: 0;
    pointer-events: none;
}
#loop>h1 {
    font-weight: 400;

    animation-name: loops;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#loop>h1>span {
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}


@keyframes loops {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}